<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matacos.mataco">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".apiController.BackendVolley"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:minSdkVersion="8"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubjectsActivity"
            android:label="@string/title_activity_subjects"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CoursesActivity"
            android:label="@string/title_activity_courses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyCoursesActivity"
            android:label="@string/title_activity_my_courses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExamSubjectsActivity"
            android:label="@string/title_activity_exam_subjects"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExamsActivity"
            android:label="@string/title_activity_exams"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyExamsActivity"
            android:label="@string/title_activity_my_exams"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="exam_inscriptions" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".StudentRecordActivity"
            android:label="@string/title_activity_student_record"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubjectsSelectCareerActivity"
            android:label="@string/title_activity_subjects_select_career"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExamSubjectsSelectCareerActivity"
            android:label="@string/title_activity_exam_subjects_select_career"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>